<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pods-WorkAndRest-EAIntroView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-WorkAndRest-EARestrictedScrollView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-WorkAndRest-FMDB.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-WorkAndRest-JBChartView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-WorkAndRest-MBProgressHUD.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-WorkAndRest-Masonry.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-WorkAndRest-SWTableViewCell.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-WorkAndRest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D07F4DAC70E11902B8F028A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2118DA51D0FAFF5DDF988F71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28347AAED8F4F178F0B457E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E42920CF7386E7EF664A89B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A422A14ACF8FA51C5533509D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8C872DA1BBD8D36D49023BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C613AA9D5F7C83FF116868A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA7D4D99B07479FB3501454B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
