<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pods-WorkAndRest-FMDB.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-WorkAndRest-Masonry.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-WorkAndRest-SWTableViewCell.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-WorkAndRest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D235529B7F1ABEA00B12DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D8EC4A0EBEE9DFCCBDDFC05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92CD5D05E27776563B47F917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1D92028218B1E86C7350469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
